<span>Marca: <%= carData.marca %></span><br />
<span>Modelo: <%= carData.modelo %></span><br />
<span>Cor: <%= carData.cor %></span><br />
<span>Ano: <%= carData.ano %></span><br />
<span>Placa: <%= carData.placa %></span><br />
